name: TRE Deploy Generated Schema
on:
  workflow_dispatch:
env:
  RUN_NUMBER: ${{ github.run_id }}${{ github.run_attempt }}
  BRANCH_NAME: version-bump-${{ github.run_id }}${{ github.run_attempt }}
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Import GPG key
        id: import_gpg
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          git_user_signingkey: true
          git_commit_gpgsign: true
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
      - run: ./.github/scripts/setup.sh
      - run: |
          sbt 'release with-defaults'
        env:
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
      - name: Create Pull Request
        run: |
          gh api \
          --method POST \
          -H "Accept: application/vnd.github+json" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          /repos/nationalarchives/da-transform-schemas/pulls \
          -f title='Sonatype release' \
          -f body='A release has been made and version bumped. Please approve and merge' \
          -f head=$BRANCH_NAME \
          -f base='main'
        env:
          GITHUB_TOKEN: ${{ secrets.WORKFLOW_PAT }}
